.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
*.spec

.DS_Store
Thumbs.db
Desktop.ini

APPLICATION/logs/*.log
SERVIDOR/logs/*.log
APPLICATION/exports/*.csv
DATOS/*.csv
SERVIDOR/database/*.db
